{% extends "base.html" %}

{% block content %}

<div style="overflow: hidden;">
<!-- {% include 'loginnav.html'%} -->

<div style="display: flex ; justify-content: center; align-items: center; height:90vh;">
  <div class="card w-50 ">
      <div class="card-body">
        <h5 class="card-title align-items-center">Your To-Do Login</h5>
        <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
              <label for="exampleInputEmail1">Your User Name</label>
              <input type="text" name="user_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <!-- <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember me</label>
              </div> -->

              <p>Don't have an account <a href="signup">Sign up</a></p>
               <button type="submit" class="btn btn-primary">Login</button>
         </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}