{% extends "base.html" %}

{% block content %}
<div style="display: flex ; justify-content: center; align-items: center; height:100vh;">


    <div class="card w-50 ">
        <div class="card-body">
          <h5 class="card-title justify-content-center">Your Sign-in for To-Do</h5>
          <form style="border:2px rgb(185, 181, 181) solid; border-radius:10px; padding:20px" action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <div class="">
                <div class="form-group col-md-6">
                  <label for="inputAddress">User Name</label>
                  <input type="text" name="user_name" class="form-control" id="Username" placeholder="Bob">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail">Email</label>
                    <input type="email" name="user_email" class="form-control" id="inputEmail4" placeholder="Email">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="user_password" class="form-control" id="inputPassword4" placeholder="Password">
                  </div>
             </div>
              <p>already a user <a href="login">login</a></p>
            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}